@model IEnumerable<Rent_a_Car.Models.Car>

@{
    ViewBag.Title = "Home Page";
    var s = 0;
}


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            s++;

            <div class="col" style="margin-bottom: 20px; margin-left: 20px; max-width: 300px;">

                <div class="card" style="width: 18rem;">
                    <img src="@item.Picture" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Make @item.Mod</h5>
                        <p class="card-text">example car </p>

                        @using (Html.BeginForm("rent", "Home", FormMethod.Get))
                        {
                            <div class="form-group">
                                <label>Days to rent</label>
                                <input type="number" class="form-control" name="daystorent" style="width: 70px" required>
                            </div>
                            <input type="hidden" name="id" , value="@item.Id"/>

                            <button class="btn btn-primary" type="submit"> Rent it </button>
                        }
                    </div>
                </div>
            </div>
                


                if (s % 3 == 0)
                {
                <div class="w-100"></div>

                }



                }
                


            </div>
        </div>

